main {
  margin-left: 2%;
  margin-right: 2%;
}
// Grid
.grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  row-gap: 1em;
}

// Default litlir skjáir
.grid-container.three {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-container.two {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
// Fyrir stóra skjái (ekki litla)
@media screen and (min-width: 48em) {
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
  .grid-container.three {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-container.two {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
