{% extends "layout.html" %} {% block content %}

<div class="grid-container">
  <div class="item">

    <form action="/action_page.php">
      <h2>Submit a recipe</h2>
      <div class="grid-container two">
        <div>
          <h4>Description:</h4>
          <label for="fname">Recipe name:</label><br />
          <input type="text" id="fname" name="fname" value="" /><br />
          <label for="lname">date:</label><br />
          <input type="text" id="lname" name="lname" value="" /><br />
          <label for="fname">summary:</label><br />
          <input type="text" id="fname" name="fname" value="" /><br />
        </div>
        <div>
          <h4>Tags:</h4>
          <input type="checkbox" id="Bread" name="Bread" value="Braud" />
          <label for="Bread"> Bread</label><br />
          <input type="checkbox" id="Cake" name="Cake" value="Kaka" />
          <label for="Cake"> Cake</label><br />
          <input type="checkbox" id="Savoury" name="Savoury" value="Bragdmikid" />
          <label for="Savoury"> Savoury</label><br />
          <input type="checkbox" id="Sweet" name="Sweet" value="Saett" />
          <label for="Sweet"> Sweet</label><br />
        </div>
      </div>

      <h4>Files:</h4>
      <label for="myfile">Upload a thumbnail image or recipe PDF :</label>
      <input type="file" id="myfile" name="myfile" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
{% endblock %}